.Markat {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.Markat > * {
  flex: 1 1 160px;
}
button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid white;
  cursor: pointer;
  overflow: hidden;
  padding: 8px;
  margin-top: 20px;
  color: white;

  outline: none;
}
