<div class="nmidis">
  <!-- -------------------fotoja e tudi rabve ------------------- -->

  <img class="fotoja" src="assets/cars.png" alt="" />
</div>

<!-- --------------------fotoja e CC-BACKGROUND ---------------- -->
<div class="class1"></div>


<h1>Welcome to our site, here you can see all the information about the cars, you can compare them if you have detailed doubts, we hope you like our effort and idea.</h1>
<div  id="container">
  <a [routerLink]="['/compare' ]">
   Compare
  </a>
  <a [routerLink]="['/cars' ]">
    Car Info
  </a>
</div>
