.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.space{
  margin-left: 100px;
}
mat-card {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 250px;
  height: 380px;
  background-color: #f0efed;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0.4em;}
.removebutton {
  position: relative;
  color: red;
  background-color: white;
  border: none;
  float: right;
  padding: 5px;
  margin: 0px;
}
.nmidis{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.search-result {
  width: 100%;
}
.mantmajsht{
  text-align: center;
  margin-top:30px

}
.btn{
  background-color: rgb(255, 255, 255);
  color: black;
}
.btn-secondary{
  background-color: #faf6f2;
  color: black;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.centriri{
  display: flex;
}
.card button:hover {
  opacity: 0.7;
}
.buttonii{
  width: 200px;
}
.products {
  display: flex;
  width: 50%;
  position: relative;
  left: 0px;
  flex-wrap: wrap;
}

.products2 {
  display: flex;
  width: 50%;
  position: relative;
  left: 50%;
  flex-wrap: wrap;
  top: 100%;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.selectedProducts {
  display: flex;

}

.searched-li {
  background-color: lightgray;
  width: 20%;
  left: 0px;
}
.search{
 margin-top: 30px;
 margin-left: 190px;
}
.searched-ul {
  text-decoration: none;
  list-style-type: none;
}
.contentt{
  font-size: 10px;
}
