.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}
mat-card {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 180px;
  height: auto;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.buttoni {
  background-color: rgb(66, 101, 107);
  color: white;
  width: 10%;
}

.search-result {
  width: 100%;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.products {
  display: flex;
  width: 50%;
  position: relative;
  left: 0px;
  flex-wrap: wrap;
}

.products2 {
  display: flex;
  width: 50%;
  position: relative;
  left: 50%;
  flex-wrap: wrap;
  top: 100%;
}

split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.selectedProducts {
  display: flex;
  margin: 0 auto;
}

.searched-li {
  background-color: lightgray;
  width: 20%;
  left: 0px;
}

.searched-ul {
  text-decoration: none;
  list-style-type: none;
}
